    <a class="cd-nav-trigger cd-text-replace" href="#primary-nav"><i class="fa fa-bars" aria-hidden="true"></i><span aria-hidden="true" class="cd-icon"></span></a>
         <nav class="cd-primary-nav" id="primary-nav">
              <nav class="cd-primary-nav" id="primary-nav">
   <a class="cd-nav-trigger cd-text-replace" href="#primary-nav"><i class="fa fa-bars" aria-hidden="true"></i><span aria-hidden="true" class="cd-icon"></span></a>
     <nav class="cd-primary-nav" id="primary-nav">
    <ul>
      <li class="cd-label">Navigation</li>
      <li><a href="#0">The team</a></li>
      <li><a href="#0">Our services</a></li>
      <li><a href="#0">Our projects</a></li>
      <li><a href="#0">Contact us</a></li>
    </ul>
  </nav>
  </nav>
  </nav>
      <router-outlet></router-outlet>

      <div class="container">
      <div class="pull-left">
          <p><em><small><a href="#" target="_wiki" title="Wiki..."><strong>Edouard Wolton<sup>artiste</sup></strong></a>
           <a href="#" target="_MANIFEST" title="Voir détails...">(version)</a>
          par <a href="#" target="#" title="author">Théophile Vast</a>
          @ VAST 2016</small></em></p>
      </div>
      </div>