<!--    <a class="cd-nav-trigger cd-text-replace" href="#primary-nav"><span aria-hidden="true" class="">Menu</span></a> -->

<a href="#primary-nav" class="cd-nav-trigger btn-floating btn-large waves-effect waves-light black"><i class="material-icons">add</i></a>
         
 
     <nav class="cd-primary-nav" id="primary-nav">
    
     <ul >
     <li class="cd-label">Edouard Wolton</li>
          <li><a routerLink="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
            <li><a routerLink="/bio"><i class="fa fa-id-card-o" aria-hidden="true"></i> Bio</a></li>
            <li><a routerLink="/bio"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Presse</a></li>
            <li><a routerLink="/contact"><i class="fa fa-paper-plane" aria-hidden="true"></i> Contact</a></li>
            <li><a routerLink="/homeslide"><i class="fa fa-paper-plane" aria-hidden="true"></i> slide</a></li>
              
          </ul>
  </nav>
      <router-outlet></router-outlet>

      <div class="container">
      <div >
          <p><em><small><a href="#" target="_wiki" title="Wiki..."><strong>Edouard Wolton<sup>artiste</sup></strong></a>
           <a href="#" target="_MANIFEST" title="Voir détails...">(version)</a>
          par <a href="#" target="#" title="author">Théophile Vast</a>
          @ VAST 2016</small></em></p>
      </div>
      </div>