<div class="container">
	<h1>Envoyez moi un petit dessin</h1>

	<div>
	<form class="col s12" action="mailto:someone@example.com" method="post" enctype="text/plain">
	<div cclass="input-field col s6">Nom<br>
		<input type="text" name="name"><br></div>
	<div class="input-field col s6">votre contact<br>
		<input type="text" name="mail"><br></div>
	Message<br>
		<input type="text" name="comment" size="50"><br><br>
		<input type="submit" value="Send">
		<input type="reset" value="Reset">
		<a routerLink="/oeuvre" id="download-button" class="center btn-large waves-effect waves-light black">envoyer</a>
	</form>
	</div>

</div>
